.menu{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    border: 2px solid black;
    margin: 5%;

}
.menu>*{
  display: flex;
  justify-content: space-between;
  padding: 1%;
    background-color: rgb(245, 238, 238);
    margin: 1%;
    align-items: center;
}
.buttons{

    width: 30%;
    display: flex;
    justify-content: space-between;
}
.buttons>*{
    width: 45%;
    height: 45px;
    font-weight: bold;
    font-size: larger;
   
}

.true{
    background-color: rgb(24, 204, 24);
    color: whitesmoke;
}